<!--Comment Modal-->

<div class="modal fade mdlComment" id="commentModal{{this._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                
                <h6 class="modal-title" id="commentModalLabel">{{this.title}}</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{#if this.comments}}
                    {{#each this.comments}}
                        <div class="modal-header">
                            <div class="modal-body">
                                <p class="previousComments"> {{this.body}}</p>
                                <button type="button" class="btn btn-danger deleteComment" data-comment-id={{this._id}} data-article-id={{this.article}}>X</button>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
                <div class="form-group">
                    <textarea id="commentText{{this._id}}" class="form-control" rows="4" placeholder="New Comment"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" data-id={{this._id}} class="btn btn-primary savecomment" >Save Comment</button>
            </div>
        </div>
    </div>
</div>